<!DOCTYPE html>
  <div class="modal-dialog email-modal" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h1 class="email-text">Email Sent! <i class="fa fa-check-square-o" aria-hidden="true"></i>
</h1>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
