<!DOCTYPE html>

<html>

<head>
  <title>Earnings Calculator</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css" rel="stylesheet" integrity="sha384-gv0oNvwnqzF6ULI9TVsSmnULNb3zasNysvWwfT/s4l8k5I+g6oFz9dye0wg3rQ2Q" crossorigin="anonymous">

</head>

<body>
  <% include ./partials/_navbar.ejs %>

  <h1>Hello World</h1>
  <form>
    <label>Your Wage</label>
    <input type="number" placeholder="Wage" id="wage-input">
    <label>Hours Worked Per Week</label>
    <input type="number" placeholder="Hours" id="hours-input">
    <input type="submit" value="Calculate" id="calculate-submit">
  </form>



</body>
<% include ./partials/_scripts.ejs %>

</html>
