<!DOCTYPE html>

<html>

<head>
  <title>Wage Calculator</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css" rel="stylesheet" integrity="sha384-gv0oNvwnqzF6ULI9TVsSmnULNb3zasNysvWwfT/s4l8k5I+g6oFz9dye0wg3rQ2Q" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link href="./stylesheets/styles.css" rel="stylesheet">
</head>

<body style="padding-left:10%; padding-right:10%">
  <% include ./partials/_navbar.ejs %>
  <% include ./partials/_emailsuccess.ejs %>

    <div class="form-container panel panel-default">
      <div class="panel-heading">Your Info</div>
      <form class="panel-body">
        <div class="form-group">
          <label>Your Wage</label>
          <input type="number" placeholder="0.00" id="wage-input" class="form-control" min="0.00" step="0.01" pattern="^\d+(?:\.\d{1,2})?$">
        </div>
        <div class="form-group">
          <label>Hours Worked Per Week</label>
          <input type="number" placeholder="0" id="hours-input" class="form-control" min="0" step="0.00">
        </div>
        <button id="calculate-submit" class="btn btn-success"><i class="fa fa-calculator" aria-hidden="true"></i>  Calculate</button>
      </form>
    </div>

    <div class="alert alert-warning alert-dismissible wage-alert" role="alert">
      <strong>Warning!</strong> Enter your <strong>wage</strong>! (or maybe its over $40?).
    </div>

    <div class="alert alert-warning alert-dismissible hours-alert" role="alert">
      <strong>Warning!</strong> Enter your <strong>weekly hours</strong>! (or maybe its over 80 hours?).
    </div>

    <div class="results-container panel panel-default">
      <div class="panel-heading">Results</div>

      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th>Hours Worked</th>
            <th>Total Earnings</th>
          </tr>
        </thead>
        <tbody>
          <tr class="weeklyTR">
            <td>Weekly</td>
            <td class="hours">0</td>
            <td class="earnings">$0.00</td>
          </tr>
          <tr class="monthlyTR">
            <td>Monthly</td>
            <td class="hours">0</td>
            <td class="earnings">$0.00</td>
          </tr>
          <tr class="yearlyTR">
            <td>Yearly</td>
            <td class="hours">0</td>
            <td class="earnings">$0.00</td>
          </tr>
        </tbody>
      </table>
      <div class="panel-body">
        <form>
          <div class="input-group">
            <input type="email" placeholder="Your E-mail" id="email-input" class="form-control">
            <span class="input-group-btn">
          <button id="email-submit" class="btn btn-primary"><i class="fa fa-paper-plane" aria-hidden="true"></i> Email Results</button>
        </span>
          </div>
        </form>
      </div>
    </div>
    <div class="alert alert-warning email-alert" role="alert">
      <strong>Warning!</strong> Enter your <strong>E-Mail</strong>!.
    </div>




</body>
<% include ./partials/_scripts.ejs %>

</html>
